# Dependencies
node_modules/
.npm

# Build output
dist/
out-tsc/

# Angular cache
.angular/

# Environment (no subir claves)
src/environments/environment.prod.ts

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Claude
CLAUDE.md
.claude/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
